.header {
  height: 60px;
}

.btn-header {
  width: 220px;
  background-color: transparent;
  color: #707070;
  border-color: transparent;
  border: none;
  border-radius: 0;
  align-self: flex-end;
}

.btn-header:hover,
.btn-header:not(:disabled):not(.disabled):active,
.btn-header:focus {
  background-color: transparent;
  color: #707070;
  border-color: transparent;
  border-bottom: 2px solid #5f6caf;
  box-shadow: none;
}

.btn-header:not(:disabled):not(.disabled).active {
  background-color: transparent;
  color: #707070;
  border-color: transparent;
  border-bottom: 2px solid #5f6caf;
}

.btn-header:not(:disabled):not(.disabled).active:focus {
  box-shadow: none;
}
